In [0]:
from pyspark import SparkConf, SparkContext
from pyspark.sql.functions import col, lit
conf = SparkConf().setAppName("office-data")
sc = SparkContext.getOrCreate(conf=conf)

In [0]:
url = "https://raw.githubusercontent.com/ash-codess/pyspark-projects/master/data/office_data.csv"
from pyspark import SparkFiles
spark.sparkContext.addFile(url)

df = spark.read.csv("file://"+SparkFiles.get("office_data.csv"), header=True, inferSchema= True)
df.show()

+-----------+-------------------+----------+-----+------+---+-----+
|employee_id|      employee_name|department|state|salary|age|bonus|
+-----------+-------------------+----------+-----+------+---+-----+
|       1000|          Nitz Leif| Marketing|   CA|  6131| 26|  543|
|       1001|    Melissia Dedman|   Finance|   AK|  4027| 43| 1290|
|       1002|  Rudolph Barringer|        HR|   LA|  3122| 43| 1445|
|       1003|        Tamra Amber|  Accounts|   AK|  5717| 47| 1291|
|       1004|        Mullan Nitz|Purchasing|   CA|  5685| 34| 1394|
|       1005|      Zollner Karie|  Accounts|   CA|  2843| 27| 1078|
|       1006|Kaczorowski Zollner|     Sales|   CA|  7201| 21| 1834|
|       1007|      Nakano Locust| Marketing|   LA|  3444| 23| 1823|
|       1008|  Recalde Kensinger|  Accounts|   LA|  3704| 48| 1330|
|       1009|        Imai Hallie|  Accounts|   AK|  5061| 38| 1557|
|       1010|    Debroah Gallman|  Accounts|   NY|  9308| 35|  817|
|       1011|   Barringer Escoto|Purchasing|   WA|  1685| 49| 1706|
|       1012|      Soules Coogan|  Accounts|   AK|  8330| 43| 1914|
|       1013|      Luisa Suzanne|  Accounts|   CA|  1151| 37| 1095|
|       1014|      Marvis Cobian|Purchasing|   NY|  5061| 41| 1765|
|       1015|   Cobian Kensinger|     Sales|   LA|  1983| 21|  632|
|       1016|      Gilma Margret| Marketing|   CA|  2919| 45| 1762|
|       1017| Ellingsworth Ilana|  Accounts|   WA|  9614| 26| 1964|
|       1018| Vankirk Jacquelyne|Purchasing|   NY|  8636| 47| 1192|
|       1019|    Zollner Juliana|        HR|   NY|  9739| 30| 1119|
+-----------+-------------------+----------+-----+------+---+-----+
only showing top 20 rows

In [0]:
#Total number of employees in the company
df.count()

Out[4]: 1000

In [0]:
#Total number and name of departments in the company
df1 = df.select("department").dropDuplicates(["department"]).count()
df2 = df.select("department").dropDuplicates(["department"]).show()
print("Number of departments: ", df1, df2)

+----------+
|department|
+----------+
|     Sales|
|        HR|
|   Finance|
|Purchasing|
| Marketing|
|  Accounts|
+----------+

Number of departments:  6 None

In [0]:
#Total number of employees in each department
df.groupBy('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|  169|
|        HR|  171|
|   Finance|  162|
|Purchasing|  166|
| Marketing|  170|
|  Accounts|  162|
+----------+-----+

In [0]:
#Total number of employees in each state
df.groupBy('state').count().show()

+-----+-----+
|state|count|
+-----+-----+
|   LA|  205|
|   CA|  205|
|   WA|  208|
|   NY|  173|
|   AK|  209|
+-----+-----+

In [0]:
#Total number of employees in each state and department
df.groupBy('state', 'department').count().show()

+-----+----------+-----+
|state|department|count|
+-----+----------+-----+
|   CA|     Sales|   42|
|   CA| Marketing|   33|
|   NY|  Accounts|   34|
|   NY|     Sales|   27|
|   CA|   Finance|   35|
|   CA|  Accounts|   35|
|   CA|Purchasing|   32|
|   WA|        HR|   47|
|   AK|Purchasing|   30|
|   WA|  Accounts|   27|
|   WA|Purchasing|   38|
|   AK|     Sales|   38|
|   AK|  Accounts|   37|
|   WA| Marketing|   39|
|   LA|        HR|   41|
|   LA|     Sales|   35|
|   AK|        HR|   25|
|   LA|   Finance|   29|
|   AK|   Finance|   37|
|   LA|Purchasing|   45|
+-----+----------+-----+
only showing top 20 rows

In [0]:
#Min and max salary in each department. Arrange in asc
from pyspark.sql.functions import min, max, avg
df.groupBy("department").agg(min("salary").alias("min"), max("salary").alias("max")).orderBy(col("max").asc(), col("min").asc()).show()

+----------+----+----+
|department| min| max|
+----------+----+----+
|  Accounts|1007|9890|
|   Finance|1006|9899|
| Marketing|1031|9974|
|        HR|1013|9982|
|     Sales|1103|9982|
|Purchasing|1105|9985|
+----------+----+----+

In [0]:
#Print names of employees who are working in NY state under finanance department whose bonsuses are grater than avergae bonuses of employees in NY
avgBonus = df.filter(df.state == "NY").groupBy("state").agg(avg("bonus").alias("avg_bonus")).select("avg_bonus").collect()[0]['avg_bonus']
df.filter((df.state == "NY") & (df.department == "Finance") & (df.bonus > avgBonus)).show()

+-----------+--------------------+----------+-----+------+---+-----+
|employee_id|       employee_name|department|state|salary|age|bonus|
+-----------+--------------------+----------+-----+------+---+-----+
|       1035|       Vivan Sifford|   Finance|   NY|  1129| 35| 1261|
|       1073|      Herder Gallman|   Finance|   NY|  1988| 31| 1402|
|       1082|          Nena Rocha|   Finance|   NY|  3417| 25| 1647|
|       1087|       Leif Lemaster|   Finance|   NY|  8642| 45| 1782|
|       1100|Ellingsworth Meli...|   Finance|   NY|  7845| 32| 1358|
|       1127|        Escoto Gilma|   Finance|   NY|  3426| 41| 1285|
|       1161|     Georgeanna Laub|   Finance|   NY|  2469| 26| 1679|
|       1175|     Durio Tenenbaum|   Finance|   NY|  2253| 42| 1684|
|       1180|       Juliana Grigg|   Finance|   NY|  8178| 42| 1617|
|       1215|        Tiffani Benz|   Finance|   NY|  1665| 41| 1969|
|       1220|          Nitz Ilana|   Finance|   NY|  2443| 50| 1342|
|       1342|   Phylicia Antonina|   Finance|   NY|  8626| 30| 1857|
|       1414|         Durio Janey|   Finance|   NY|  2992| 46| 1733|
|       1660|       Melissia Jere|   Finance|   NY|  9201| 21| 1533|
|       1737|      Yukiko Kreamer|   Finance|   NY|  7396| 20| 1332|
|       1738|      Nena Kensinger|   Finance|   NY|  8534| 41| 1610|
|       1815|      Antonina Ilana|   Finance|   NY|  2944| 28| 1718|
+-----------+--------------------+----------+-----+------+---+-----+